<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="stylesheets/style2.css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CATBOOKS</title>
  <script src="https://kit.fontawesome.com/5dedad8172.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet">
  <script>
    function redirectToDetails(imageId) {
      window.location.href = "/detalhes?image=" + imageId;
    }
  </script>
</head>

<body>

  <header>
    <div class="container">
      <div class="logo">
        <h1>CATBOOKS</h1>
      </div>
      <nav>
        <a href="/">Entrada</a>
        <a href="/sobre">Sobre o projeto</a>
      </nav>
      <div class="sociais">
        <a href="https://www.instagram.com/let_gomesv">
          <button>
            <i class="fa fa-instagram"></i>
          </button>
        </a>

        <a href="https://github.com/mareshbard">
          <button>
            <i class="fa fa-github"></i>
          </button>
        </a>
      </div>
    </div>
  </header>
  <div class="container2">
    <img src="img/start.png" alt="aaaa">

    <div class="container3">
      <div class="traço"></div>
      <h3>Lançamentos</h3>
      <ul>
        <li>
          <a href="#" onclick="redirectToDetails('img11')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/11.jpg" alt="Descrição da Imagem">
            </button>
          </a>
        </li>
        <li>
          <a href="#" onclick="redirectToDetails('img12')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/12.jpg" alt="Descrição da Imagem">
            </button>
          </a>
        </li>
        <li>
          <a href="#" onclick="redirectToDetails('img13')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/13.jpg" alt="Descrição da Imagem 13">
            </button>
          </a>
        </li>
        <li>
          <a href="#" onclick="redirectToDetails('img14')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/14.jpg" alt="Descrição da Imagem">
            </button>
          </a>
        </li>
          <li>
            <a href="#" onclick="redirectToDetails('img15')" rel="noopener noreferrer">
              <button class="image-button">
                <img src="img/15.jpg" alt="Descrição da Imagem">
              </button>
            </a>
          </li>
        <li>
          <a href="#" onclick="redirectToDetails('img16')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/16.jpg" alt="Descrição da Imagem">
            </button>
          </a>
        </li>
        <li>
          <a href="#" onclick="redirectToDetails('img17')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/17.jpg" alt="Descrição da Imagem">
            </button>
          </a>
        </li>

        <li>
          <a href="#" onclick="redirectToDetails('img18')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/18.jpg" alt="Descrição da Imagem">
            </button>
          </a>
        </li>

        <li>
          <a href="#" onclick="redirectToDetails('img19')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/19.jpg" alt="Descrição da Imagem">
            </button>
          </a>
        </li>
      </ul>


      <div class="traço"></div>
      <h3>Clássicos</h3>
      <ul>
        <li>
          <a href="#" onclick="redirectToDetails('img1')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/1.jpg" alt="Descrição da Imagem">
            </button>
          </a>
        </li>
        <li>
          <a href="#" onclick="redirectToDetails('img10')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/10.jpg" alt="Descrição da Imagem">
            </button>
          </a>
        </li>
        <li>
          <a href="#" onclick="redirectToDetails('img3')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/3.png" alt="Descrição da Imagem">
            </button>
          </a>
        </li>
        <li>
          <a href="#" onclick="redirectToDetails('img4')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/4.jpg" alt="Descrição da Imagem">
            </button>
          </a>
        </li>
          <li>
            <a href="#" onclick="redirectToDetails('img5')" rel="noopener noreferrer">
              <button class="image-button">
                <img src="img/5..jpg" alt="Descrição da Imagem">
              </button>
            </a>
          </li>
        <li>
          <a href="#" onclick="redirectToDetails('img6')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/6.jpeg" alt="Descrição da Imagem">
            </button>
          </a>
        </li>
        <li>
          <a href="#" onclick="redirectToDetails('img7')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/7.jpg" alt="Descrição da Imagem">
            </button>
          </a>
        </li>

        <li>
          <a href="#" onclick="redirectToDetails('img8')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/8..jpg" alt="Descrição da Imagem">
            </button>
          </a>
        </li>

        <li>
          <a href="#" onclick="redirectToDetails('img9')" rel="noopener noreferrer">
            <button class="image-button">
              <img src="img/9.jpg" alt="Descrição da Imagem">
            </button>
          </a>
        </li>
      </ul>
      <div class="traço"></div>
    </div>
  </div>

</body>

</html>